/* --------------------- */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Variables */

:root{
--lime: #44DD61;
--cyan: #46B8DA;
--gradient: linear-gradient(to right, rgba(38,183,231,1) 0%, rgba(68,221,97,1) 100%); 
}

/* General */

html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
    font-weight: 400;
    font-size: 1.6rem;
}
.wrapper{
    
}
.padding{
    padding: 0 11%;
}
p, span, h1, h2, h3, h4, h5, h6{
    cursor: default;
}

/* Loop */

button{
    cursor: pointer;
    border: solid none;
    font-weight: 800;
}
.btn-norm{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.2em 2.2em;
    border-radius: 9999px;
    border: none;
    transition: 0.5s;
}
.gradient{
    color: white;
    background: var(--gradient);
    transition: none;
}
.gradient:hover{
    color: white;
    background: var(--cyan);
}
.lime-border{
    box-sizing: border-box;
    color: var(--lime);
    background: none;
    border: solid var(--lime) 0.2rem;
}
.lime-border:hover{
    background: var(--lime);
    color: white;
}
.white{
    background: white;
    color: rgba(56,63,66,1)
}
.white:hover{
    background: var(--lime);
    color: white;
}

/* Header */

header{

}
.header{
    background: url(../img/x.jpg) no-repeat top center;

}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.left-cont{
    display: flex;
    
}
.icon-box{
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 30rem;
    margin-right: 0.8rem;
}
.right-cont{
    display: flex;
    align-items: center;
}
.feed-back-box{
    display: flex;
    margin-left: 4rem;
    font-size: 1.4rem;
    color: #fff;
}
.feed-back-box>img{
    height: 1.6rem;
    margin-right: 0.8rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>img{
    height: 3.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: 'Montserrat' ,sans-serif;
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
}
.nav-item{
    margin-right: 2rem;
    cursor: pointer;
}
.nav-item:hover{
    color: var(--lime);
}
.nav .icon-box >img{
    width: 1.6rem;
}
.nav .icon-box{
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-header{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 12rem;
}
.middle-header>img{
    width: 32%;
    margin-bottom: 10rem;
}
.text-animation-box{
    display: flex;

    color: rgb(101, 236, 149);;
    font-size: 40px;
    font-weight: 800;

}
.text-animation-word{
    display: flex;
    margin-right: 2.5rem;
}

.text-animation-word:last-child{
    margin-right: 0;
}
.header-text{
    font-size: 1.9rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 3rem;
}
.button-group{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.animation-wrap{
    margin-top: 7rem;
    height: 37rem;
    
    display: flex;
    align-items: flex-end;
}
.to-top-animation-box:first-child{
    background: #3fd776;
}
.to-top-animation-box{
    background: #45e07d;
    width: calc( 100% / 3);
    height: 27rem;
    color: #fff;
    overflow: hidden;
    z-index: 3;

    text-align: center;
}
.to-top-animation-box:hover{
    animation: to-up 200s infinite ease-out;
}
.to-top-animation-box>img{
    height: 6.4rem;
    margin-top: 5rem;

}
.to-top-animation-box>.text1{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.8rem;
    padding: 0.8rem 0;
    font-weight: 800;
}

.to-top-animation-box>.text2{
    margin: 0;
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
}
.to-top-animation-box>.line{
    width: 2rem;
    height: 0.3rem;
    margin: auto;
    margin-top: 3rem;
    background-color: #fff;
}
.hidden-text{
    margin: 0;
    margin-top: 3rem;
    padding: 0 20%;
}
@keyframes to-up{
    0.25%{
        height: 100%;
        background: var(--cyan);
    }
    100%{
        height: 100%;
        background: var(--cyan);
    }
}

/* Section2 */

.section-2{
    /* position: relative; */
    background: url(../img/network.png) no-repeat;
    background-position: -1rem -10rem;
}
.section-2>img{
    position: absolute;
    top: -25rem;
    left: -6rem;
    z-index: -1;
}
.middle-text-group{
    padding: 0 30%;
    padding-top: 10rem;
    text-align: center;

}
.middle-text-group>h2{
    font-size: 4rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 400;

}
.middle-text-group>.line{
    width: 5rem;
    height: 0.5rem;
    background: var(--lime);
    margin: auto;
    border-radius: 9999px;
}
.middle-text-group>p{
    margin: 3.5rem 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #9d9f9f;
    font-family: 'Raleway', sans-serif;
   
}
.merge-box{
    display: flex;
    padding-top: 8rem;
}
.merge-box>.left-item>img{
    width: 36rem;

}
.right-item{
    width: 100%;
    padding-left: 5rem;
    
    display: flex;
    flex-wrap: wrap;
}
.service-box{
    display: flex;

    width: 50%;
    padding: 2rem 4rem;
    margin-bottom: 3.5rem;
    transition: 0.5s;
    box-sizing: border-box;
}
.service-box:hover{
    transform: scale(1.2);
    
}
.service-box>.text-box{
    margin-left: 2rem;
}
.service-box h3{
    color: #252a2c;
    font-weight: 400;
    margin-top: 0;
    font-size: 1.6rem;
}
.service-box p{
    color: #9d9f9f;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}
.service-box>.img-wrap>img{
    width: 5rem;
    margin-right: 1.5rem;
}
.read-more{
    /* display: none; */
    font-size: 1.3rem;
    color: #9d9f9f;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: block;
    font-weight: 800;
    padding: 0.6rem 0;
}
.read-more:hover{
    color: var(--lime);
}